<div class="container mt-5">
  <div class="card col-md-6 mx-auto">
    <h2 class="text-center">🧠 Create Profile</h2>

    <form method="POST">

      <input class="form-control mb-2" name="name" placeholder="Name">
      <input class="form-control mb-2" name="age" placeholder="Age">
      <input class="form-control mb-2" name="profession" placeholder="Profession">
      <input class="form-control mb-2" name="salary" placeholder="Monthly Salary">

      <label>Marital Status</label>
      <select class="form-control mb-2" name="marital">
        <option>Married</option>
        <option>Unmarried</option>
      </select>

      <label>Investment Interest</label>
      <select class="form-control mb-3" name="investment">
        <option>Investing</option>
        <option>Thinking</option>
        <option>No Interest</option>
      </select>

      <button class="btn btn-primary w-100">Register</button>
    </form>
  </div>
</div>